@import url('https://fonts.googleapis.com/css?family=Meddon&display=swap');
@import './variables.scss';

header {
  background-color: $primary-color;
  width: 100%;
  height: 100px;
  box-sizing: border-box;
  padding: 40px 20px 0;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  display: flex;
  position: fixed;
  justify-content: space-between;
  z-index: 8;
}

nav {
  @include box-button($button-color);
}

.logo {
  font-size: 10px;
  font-family: Meddon;
  color: #fff;

  h1 {
    margin: 0;
  }
}

.userBtn {
  @include box-button($button-color);
}

.burger {
  height: 50%;
  width: 50%;
  color: $accent-color;
}

.user {
  height: 80%;
  width: 80%;
  color: $accent-color;
}