@import './variables.scss';

.titleBar {
  background-color: $accent-color;
  padding: 5px;
  border-radius: 0 0 25px 25px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  z-index: 7;
  position: fixed;
  width: calc(100vw - 50px);
  left: 50%;
  transform: translateX(-50%);
}

.listTitle {
  margin: 0;
  font-size: 18px;
  text-align: center;
  color: #fff;
}

.shoppingList {
  position: relative;
  z-index: 6;
  list-style: none;
  margin: 0;
  padding: 0;
  
  li {
    &:nth-child(odd) {
      background-color: $primary-color;
      .price {
        background-color: $secondary-grey;
        width: 100%;
        text-align: center;
        font-size: 15px;
        border-left: #e0e0e0 2px groove;
      }
    }
    &:nth-child(even) {
      background-color: $secondary-color;
      .price {
        background-color: $primary-grey;
        width: 100%;
        text-align: center;
        font-size: 15px;
        border-left: #e0e0e0 2px groove;
      }
    }
    &:last-child {
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
      border-radius: 0px 0px 10px 10px;
    }
  }
}

.notPrice {
  color: red;
}

.bestPrice {
  color: green;
}

.row {
  display: flex;
  justify-content: space-between;
}

.itemCol {
  width: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.totalRow {
  box-sizing: border-box;
  padding-right: 10px;
  justify-content: end;
}

.shopCol {
  background-color: $secondary-grey;
  flex-grow: 1;
  display: flex;
  justify-content: space-between;
}

.titles {
  padding-top: 31px;
}

.totalPrice {
  font-weight: bold;
}

.item {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.itemCheck {
  flex-grow: 0.5;
}

.itemInfo {
  flex-grow: 3;
}

.itemMeasure {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.itemUnit {
  font-size: 13px;
}

.unity-bar {
  display: flex;
  align-items: center;
  max-width: 100px;
  margin: 0 auto;
  font-size: 14px;
  height: 15px;
}

.unity-bar__button {
  height: 15px;
  width: 12px;
  border: none;
  background-color: #3A8290;
  color: #fff;
  font-size: 10px;

  &:nth-child(1) {
    border-radius: 50% 0 0 50%;
  }

  &:nth-last-child(1) {
    border-radius: 0 50% 50% 0;
  }
}

.unity-bar__input {
  height: 15px;
  width: 100%;
  flex: 1;
  text-align: center;
  border: none;
  font-size: 14px;
  -webkit-appearance: none;
  -moz-appearance:textfield;
}

.bestBar {
  background-color: $secondary-grey;
  padding: 5px;
  border-radius: 0 0 25px 25px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  z-index: 5;
  position: fixed;
  width: calc(100vw - 50px);
  left: 50%;
  transform: translateX(-50%);

  .bestTotal {
    font-size: 16px;
    color: #fff;
    text-align: center;
    margin: 0;
  }
}

footer {
  background-color: $primary-color;
  width: 100%;
  height: 80px;
  box-sizing: border-box;
  padding: 0 20px;
  border-radius: 20px 20px 0 0;
  display: flex;
  position: fixed;
  bottom: 0;
  justify-content: space-between;
  align-items: center;
  z-index: 8;

  .button {
    display: flex;
    @include box-button($button-color);
  }

  .addBtn {
    position: absolute;
    left: 50%;
    top: -25px;
    transform: translateX(-50%);
    height: 50px;
    width: 50px;
    border-radius: 50%;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    background-color: $accent-color;
  }
}
