@import '../components/variables.scss';

.titleBar {
  background-color: $accent-color;
  padding: 5px;
  border-radius: 0 0 25px 25px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  z-index: 7;
  position: fixed;
  width: calc(100vw - 50px);
  left: 50%;
  transform: translateX(-50%);
}

.listTitle {
  margin: 0;
  font-size: 18px;
  text-align: center;
  color: #fff;
}



footer {
  background-color: $primary-color;
  width: 100%;
  height: 80px;
  box-sizing: border-box;
  padding: 0 20px;
  border-radius: 20px 20px 0 0;
  display: flex;
  position: fixed;
  bottom: 0;
  justify-content: space-between;
  align-items: center;
  z-index: 8;

  .button {
    display: flex;
    @include box-button($button-color);
  }

  .addBtn {
    position: absolute;
    left: 50%;
    top: -25px;
    transform: translateX(-50%);
    height: 50px;
    width: 50px;
    border-radius: 50%;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    background-color: $accent-color;
  }
}