@import './base.scss';

.row {
  display: flex;
  justify-content: space-between;
}

.itemCol {
  width: 40%;
}

.shopCol {
  background-color: $secondary-grey;
  flex-grow: 1;
  display: flex;
  justify-content: space-between;

  div {
    width: 100%;
    text-align: center;
  }
}

.titles {
  padding-top: 31px;
}
