@import './base.scss';

.row {
  display: flex;
  justify-content: space-between;
}

.itemCol {
  width: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.shopCol {
  background-color: $secondary-grey;
  flex-grow: 1;
  display: flex;
  justify-content: space-between;
}

.prices {
  width: 100%;
  text-align: center;
  font-size: 15px;
  border-left: #e0e0e0 2px groove;
}

.titles {
  padding-top: 31px;
}

.lightRow {
  background-color: $primary-grey;
}

.darkROw {
  background-color: $secondary-grey;
}

.totalPrice {
  font-weight: bold;
}
