@import './base.scss';

.row {
  display: flex;
  justify-content: space-between;
}

.itemCol {
  flex-grow: 2;
}

.storeCol {
  background-color: $secondary-grey;
  flex-grow: 1;
  border-left: 1px solid #aaa;
}

.titles {
  padding-top: 31px;
}
